<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="|${#temporals.format(date, 'yyyy/M/d')}의 영화|">2019/5/14의 영화</title>
</head>
<body>
    <h3>영화 목록</h3>
    <a th:href="@{'/movies/' + ${date.minusDays(1)}}">&lt; 전날</a>
    <span th:text="|${#temporals.format(date, 'yyyy/M/d')}의 영화|">2019/5/14의 영화</span>
    <a th:href="@{'/movies/' + ${date.plusDays(1)}}">다음날 &gt;</a>
    <ul>
        <li th:each="reservableMovie: ${movies}"><a
            th:href="@{'/movies/'+'reservations/' + ${date} + '/' + ${reservableMovie.movie.movieId}}"
            th:text="${reservableMovie.movie.movieName}"></a></li>
    </ul>
</body>
</html>